.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.room-wrapper {
  width: 100px;
  height: 200px;
  background-color: red;
}
.room-wrapper .room-id {
  display: none;
}

.room-wrapper .room-name {
  display: block;
}

.m-auto {
  margin: auto;
}

.text-center{
  text-align: center;
}

.full-screen {
  height: 100vh;
}

.d-flex {
  display: flex;
}
.center {
  margin: auto;
  margin-top: 15%;
}
.main-bg {
  background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3798.jpg?w=2000");
}

.board-card{
}

.card-wrapper {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}
.card-wrapper-selected .card-border{
  border: 5px solid rgb(255, 235, 102);
  opacity: 1;

}

.card-point {
  margin: auto;
  font-size: 45px;
  color: white;

}

.card-border {
  background-color: rgb(90, 50, 116);
  opacity: .9;
  display: flex;
  width: 85px;
  height: 110px;
  border: 3px solid white;
  border-radius: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.btn-action {
  width: 150px;
  height: 45px;
}

.member-board{
  margin-left: 15px;
  margin-top: 15px;
}

.member-name {
  padding-right: 20px;
  font-size: 25px;
}

.member-point {
  font-size: 35px;
  color: green;
}